.widgetSm{
    flex: 1;
    justify-content: space-between;
}

.widgetSmItem{
    margin: 0px 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.widgetSmItemTitle{
    font-size: 20px;
    font-weight: bold;
    color: #D54780;
}

.widgetSmItemContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.widgetSmItemValue {
    font-size: 30px;
    font-weight: bold;
}

.widgetSmItemGrowth {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    margin-left: 5px;
    align-items: center;
}