.dashboard {
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;
    align-items: center;
    padding: 30px;
}

.topContainer{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.bottomContainer{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}