.lastProductData{
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
}

.lastProductDataMainContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lastProductDataItemsTitle{
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 22px;
    color: #555;
    font-weight: 600;
}

.lastProductDataSubContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.lastProductDataItem{
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.lastProductSubContainerTitle{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
}

.lastProductDataItemTitle{
    font-size: 20px;
    font-weight: bold;
    color: #D54780;
    flex:1;
    margin-bottom: 10px;
}

.lastProductDataItemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0px;
}

.lastProductDataItemValue {
    font-size: 20px;
    display: flex;
    font-weight: bold;
    flex: 2;
}

.lastProductAvatarImg{
    width: 200px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
    flex: 2;
}
