.lastProductDataMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 15px;
    padding: 5px;
    
}

.lastProductDataItemsTitle {
    display: flex;
}

.lastProductDataItemsTitle h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.lastProductDataSubContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 20px;
}

.lastProductDataItemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

.lastProductDataItemTitle {
    font-size: 16px;
    font-weight: bold;
    color: #D54780;
    flex:1.5;
    margin-bottom: 10px;
}

.lastProductDataItemValue {
    font-size: 16px;
    font-weight: bold;
    color: black;
    flex:2;
    margin-bottom: 10px;
}

.lastProductDataItemValue img {
    width: 100px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;

}