.sidebar {
    height: calc(100vh - 50px);
    background-color: rgb(251,251,255);
    position: sticky;
    top: 50px;
    flex: 1;
    min-width: 200px;
}

.sidebarWrapper{
    padding: 10px;
    color: #555;

}

.sidebarMenu{
    margin-bottom: 10px;
    margin-top: 30px;

}

.sidebarTitle{
    font-size: 22px;
    color: rgb(16, 15, 15); 
    font-weight: 600;
}

.sidebarList, .sidebarLink {
    list-style: none;
    padding: 0px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

.sidebarLink.active, .sidebarLink:hover{
    background-color: rgb(240,240,255);
    color:#D54780
    
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebarLink{
    color: #555;
    text-decoration: none;
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;    
}
