.totalsDataMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 30px;
    border-radius: 20px;
    width: auto;
    width: 750px;
}



.totalsDataItemsTitle{
    display: flex;

}

.totalsDataItemsTitle h1 {
    font-size: 22px;
    font-weight: 600;
    flex:1;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.totalsDataSubContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: auto;
    align-items: center;
    justify-content: space-between;

}

.totalsDataItem{
    width: 220px; 
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.totalsDataItemTitle{
    font-size: 20px;
    font-weight: bold;
    color: #D54780;
}

.totalsDataItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

.totalsDataItemValue {
    font-size: 30px;
    font-weight: bold;
    
}

.totalsDataItemGrowth {
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    color: rgb(169, 165, 165);
    
}

.totalsDataIcon {
    font-size: 18px;
    margin-left: 0px;
    color: green;
}

.totalsDataIcon.negative{
    color: red;
}


